{% extends '::base.html.twig' %}

{% block block('subheader') %}

{% block header 'request.label'|trans %}

{% block subheader 'request.list'|trans %}

{% block container -%}
    {%- embed '_smart_widget.html.twig' %}
        {% set config, collapse, refresh, remove = true, true, false, false %}
        {% block widgetheader %}
            {{ 'request.list'|trans }}
        {% endblock widgetheader %}

        {% block hidden_option_icon '<i></i>' %}

        {% block widgetbody %}
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-sm" href="{{ path('solicitud_new') }}">
                        <i class="fa fa-plus-circle"></i> {{ 'actions.add'|trans }}
                    </a>
                </div>
                <div class="col-md-12 separator-index">
                    {% include 'solicitud/_list.html.twig' %}
                </div>
            </div>
        {% endblock widgetbody %}
    {%- endembed %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-datatable').DataTable();
        });
    </script>
{% endblock %}